name = "splynx-onboarding"
main = "src/index.js"
compatibility_date = "2025-08-05"

[[d1_databases]]
binding = "DB"
database_name = "vinet-onboarding-db"
database_id = "d273502b-7566-4934-abc9-ae1e38b7ccdc"

[[d1_databases]]
binding = "DB"
database_name = "vinet-lead-db"
database_id = "32a41a72-1f22-44e1-989a-eef7c6731d02"

[[kv_namespaces]]
binding = "ONBOARD_KV"
id = "fc2d1cfd11a84226b9de86f8957be5d3"

[[r2_buckets]]
binding = "R2_UPLOADS"
bucket_name = "vinet-onboarding-uploads"

[vars]
SPLYNX_API = "https://splynx.vinet.co.za/api/2.0"
SPLYNX_AUTH = "NTcxMDRhNGJjNjhhY2Y2MjRkMDliMmYwOTQ1ZTI1M2E6N2UyOTNmY2QyNzBjODJmOTdjNWQzODUwZjdhM2I1MTE="
API_URL = "https://onboard.vinet.co.za"

PHONE_NUMBER_ID = "104043025887306"
WHATSAPP_TOKEN = "EAALpZCXUFpXsBP4SCZAtADZCbyZCT6oVr0yxURa0lZBpX2FFkUZBDYxwGbYOpyWggvxX2l8T1zTqanUtLTl58mC0mJw8vJyRrvKvoI9ZCkxmFPmlvBaaJBR2mI1IQynm9xgkx1GWaPhinLCS9Dkc1EymcXd6A9PLwSRuAGPmpaK4lEFPIrN1asZBbo7P4ZCHxxViILAZDZD"
VERIFY_TOKEN = "vinet-whatsapp"
BUSINESS_ID = "416413345495591"
WHATSAPP_TEMPLATE_NAME = "vinetotp"
WHATSAPP_TEMPLATE_LANG = "en_US"
WHATSAPP_BUTTON_URL = "https://onboard.vinet.co.za"  # ok to keep the comment

TURNSTILE_SITE_KEY = "0x4AAAAAABxWz1R1NnIj1POM"
TURNSTILE_SECRET_KEY = "0x4AAAAAABxWz9bB2HqidAUtWOweMHAaLxk"

ALLOW_WARP = "1"
ADMIN_IPS = "160.226.128.0/20, 104.16.0.0/12, 2a09:bac0::/29, 203.0.113.0/24, 198.51.100.0/24"

TERMS_SERVICE_URL = "https://onboarding-uploads.vinethosting.org/vinet-master-terms.txt"
TERMS_DEBIT_URL   = "https://onboarding-uploads.vinethosting.org/vinet-debitorder-terms.txt"

EFT_BANK_NAME    = "First National Bank (FNB/RMB)"
EFT_ACCOUNT_NAME = "Vinet Internet Solutions"
EFT_ACCOUNT_NO   = "62757054996"
EFT_BRANCH_CODE  = "250655"
EFT_REFERENCE    = "SPLYNX-ID"
EFT_NOTES        = "Please remember that all accounts are payable on or before the 1st of every month."

SERVICE_TEMPLATE_URL = "https://onboarding-uploads.vinethosting.org/templates/VINET_MSA.pdf"
DEBIT_TEMPLATE_URL   = "https://onboarding-uploads.vinethosting.org/templates/VINET_DO.pdf"

MAIL_FROM    = "Vinet Onboarding <no-reply@vinet.co.za>"
MAIL_SUBJECT = "Your signed Vinet onboarding documents"

[observability]
enabled = true
